label.form-label {
  font-family: 'Recursive', sans-serif;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  font-size: 18px;
}
/* input.form-control-lg {
  width: 360px;
  align-content: center;
} */
button {
  color: black;

}
